/*:host {
  justify-content: center;
}

mat-card-title,
mat-card-content {
  justify-content: center;
}

.btnAcept {
  background-color: lightseagreen;
  color: white;
}

.card-actions {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cont-form-date {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebf5ff;
  width: 100%;
  text-align: left;
}
.cont-form-title {
  width: 100%;
  color: #031477;
}

.cont-form {
  width: 100%;
  text-align: left;
  color: #031477;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.label-datos-1 {
  width: 100%;
  height: auto;
}

.card-date {
  background-color: #ebf5ff;
}

.radio-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.radio-button {
  margin-top: 5%;
  width: 100%;
  font-size: 15px;
}

.mat-card-content div div {
    margin: 0;
}*/
@media screen and (min-width: 767px) {
  ul {
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }
}

.cont-form-title {
  width: 100%;
  color: #031477;
}
.cont-form {
  text-align: center;
  color: #031477;
}

.container-login100,
.limiter {
  margin: 0 !important;
}

.title {
  color: white !important;
}

.container-login100-dashboard {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 !important;
}

@media screen and (max-width: 767px) {
  .mat-checkbox-custom label {
    display: block !important;
  }
  mat-card-title.mat-card-title.cont-form-title,
  b,
  mat-checkbox {
    margin: 0 !important;
  }
  mat-checkbox {
    ::ng-deep label {
      display: block;
    }
  }
  ul,
  li {
    margin: 0 !important;
  }
}
