<div class="limiter">
  <div class="container-login100-dashboard">
    <div class="row logo-transfiya">
      <div class="col-1">
        <div class="div-boton-logout">
          <button (click)="logout()" class="material-button" class="boton-logout">
            <mat-icon
              aria-hidden="false"
              fontIcon="keyboard_arrow_left"
              color="black"
            >keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-11">
        <img src="/assets/images/logotransfiya.png" />
      </div>
    </div>

    <div>
      <div class="logo-banka">
        <img src="/assets/images/banka.png" />
      </div>
      <div class="container-selection">
        Selecciona la cuenta origen para la transferencia
      </div>
      <!--<mat-radio-group
    class="radio-group"
    name="opcionesCuentas"
    [(ngModel)]="operacionSeleccionada"
    (change)="radioChange($event)"
  >
    <mat-radio-button
      class="radio-button"
      *ngFor="let op of cuentas"
      name="opcionesCuentas"
      [value]="op.numerocuenta"
    >
      <mat-card class="card-date">
        <mat-card-content class="cont-form-date">
          <div layout="row" class="label-datos-title"></div>
        </mat-card-content>
        <mat-card-content>
          <mat-card-content class="cont-form">
            <div layout="row" class="label-datos-1">
              <div flex>
                <label
                  ><b>{{ op.tipocuenta }}</b></label
                >
              </div>
            </div>
          </mat-card-content>
        </mat-card-content>
        <mat-card-content>
          <mat-card-content class="cont-form">
            <div layout="row" class="label-datos-1">
              <div flex>
                <label>{{ op.numerocuenta | slice:-4}}</label>
        </div>
        </div>

        <div layout="row" class="label-datos-2">
            <div flex>
                <label> <b>Saldo</b></label>
            </div>
        </div>
        <div layout="row" class="label-datos-2">
            <div flex>
                <label>{{ op.saldo | currency }}</label>
            </div>
        </div>
        </mat-card-content>
        </mat-card-content>
</mat-card>
</mat-radio-button>
</mat-radio-group>-->
      <ul>
        <li *ngFor="let op of cuentas">
          <mat-checkbox
            (change)="toggleChecks($event)"
            name="{{ op.numerocuenta }}"
            [(ngModel)]="op.selected"
            id="{{ op.numerocuenta }}"
            color="primary"
          >
            <div class="row">
              <div class="col-6">
                <div style="text-align: left">
                  <label>{{ op.tipocuenta }}</label>
                </div>
                <div>
                  <label>**** **** {{ op.numerocuenta | slice: -4 }}</label>
                </div>
              </div>
              <div class="col-6">
                <div style="text-align: right">
                  <label>Saldo</label>
                </div>
                <div>
                  <label>{{ op.saldo | currency }}</label>
                </div>
              </div>
            </div>
          </mat-checkbox>
        </li>
      </ul>
      <br/>
      <br/>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn" (click)="navAutorizacionTX()">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
