<div class="limiter">
  <div
    class="container-login100-dashboard"
    style="background-image: url('../../../../assets/images/bg-01.jpg')"
  >
    <h1 class="title">Cuentas</h1>

    <button
      color="primary"
      class="mat-button"
      mat-raised-button
      (click)="logout()"
    >
      Logout
    </button>
    <mat-card class="card-form">
      <mat-card-title class="cont-form-title"
        >Información de Pago</mat-card-title
      >
      <mat-card-actions class="card-actions">
        <div flex>
          <label
            ><b>Selecciona la cuenta origen para la transferencia</b></label
          >
        </div>
      </mat-card-actions>
      <!--<mat-radio-group
    class="radio-group"
    name="opcionesCuentas"
    [(ngModel)]="operacionSeleccionada"
    (change)="radioChange($event)"
  >
    <mat-radio-button
      class="radio-button"
      *ngFor="let op of cuentas"
      name="opcionesCuentas"
      [value]="op.numerocuenta"
    >
      <mat-card class="card-date">
        <mat-card-content class="cont-form-date">
          <div layout="row" class="label-datos-title"></div>
        </mat-card-content>
        <mat-card-content>
          <mat-card-content class="cont-form">
            <div layout="row" class="label-datos-1">
              <div flex>
                <label
                  ><b>{{ op.tipocuenta }}</b></label
                >
              </div>
            </div>
          </mat-card-content>
        </mat-card-content>
        <mat-card-content>
          <mat-card-content class="cont-form">
            <div layout="row" class="label-datos-1">
              <div flex>
                <label>{{ op.numerocuenta | slice:-4}}</label>
        </div>
        </div>

        <div layout="row" class="label-datos-2">
            <div flex>
                <label> <b>Saldo</b></label>
            </div>
        </div>
        <div layout="row" class="label-datos-2">
            <div flex>
                <label>{{ op.saldo | currency }}</label>
            </div>
        </div>
        </mat-card-content>
        </mat-card-content>
</mat-card>
</mat-radio-button>
</mat-radio-group>-->
      <ul>
        <li *ngFor="let op of cuentas">
          <mat-checkbox
            [(ngModel)]="op.selected"
            (change)="toggleChecks($event)"
            name="{{ op.numerocuenta }}"
            checked="{{ op.selected }}"
            id="{{op.numerocuenta}}"
            class="mat-checkbox-custom"
          >
            <mat-card class="card-date">
              <mat-card-content class="cont-form">
                <div layout="row" class="label-datos-1">
                  <div flex>
                    <label>{{ op.tipocuenta }}</label>
                  </div>
                </div>
                <div layout="row" class="label-datos-1">
                  <div flex>
                    <label>{{ op.numerocuenta | slice: -4 }}</label>
                  </div>
                </div>
                <div layout="row" class="label-datos-2">
                  <div flex>
                    <label>Saldo</label>
                  </div>
                </div>
                <div layout="row" class="label-datos-2">
                  <div flex>
                    <label>{{ op.saldo | currency }}</label>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-checkbox>
        </li>
      </ul>
      <mat-card-actions class="card-actions">
        <button
          color="primary"
          class="mat-button"
          mat-raised-button
          (click)="navAutorizacionTX()"
        >
          Siguiente
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
