:host {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.btnAcept {
  background-color: lightseagreen;
  color: white;
}

.card-form {
  width: 30%;
}

.card-actions {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.cont-form-date {
  border-bottom: 1px solid darkgray;
  width: 100%;
  text-align: left;
  color: darkgray;
}

.cont-form-title {
  width: 100%;
  color: #031477;
}

.cont-form {
  width: 100%;
  text-align: left;
  color: #031477;
}

.cont-form-info {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gray;
}

.cont-form-info div {
  padding: 0.5rem;
}

.label-datos-title {
  width: 80%;
}

.label-datos-1 {
  display: block;
  margin-left: 5%;
  width: 50%;
  height: auto;
}

.label-datos-2 {
  display: block;
  width: 100%;
  height: auto;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid green;
  width: 100%;
}

.radio-button {
  margin-top: 5%;
  width: 100%;
  border: 1px solid orangered;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin-bottom: 16px;
}

.title-comprobante {
  font-size: 1.4rem;
  font-weight: 700;
}

.envio-realizado-container {
  color: #ffb71b;
  text-align: left;
}

.span {
  position: relative;
  height: 100%;
}
.vertical-children {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0.2rem;
}

@import "../../../assets/css/bootstrap-grid.min.css";

.row {
  margin: 0 !important;
}

.div-boton-logout {
  position: relative;
  height: 100%;
}

.div-boton-logout button {
  background: #002f87;
  color: white;
}

.icon {
    font-size:35px;
    width:35px;
    height: 35px;
    margin: 0 0.7rem;
    color: #002F87;
}

.div-boton-logout button mat-icon {
  line-height: 1.5;
}
.header {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
